# Environment variables
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
.venv/
.env.example

# Output directory & generated media
output/
media/